<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>忘记密码</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="css/common.css" />
		<link rel="stylesheet" href="css/iconfont.css" />
		<style>
			.yzm {
				width: 150px;
				margin-top: 15px;
			}
			
			.btns {
				margin-top: 15px;
			}
		</style>
	</head>

	<body style="background: #fff;">
		<div id="app">
			<!--<header class="mui-bar mui-bar-nav mui-clearfix "  id="header">
				<a class="mui-action-back mui-pull-left">
					<i class="iconfont icon-xitongfanhui cm_back"></i>
				</a>
				<h1 class="mui-title" >忘记密码</h1>
			</header>-->

			<div class="container " id="content">
				<div class="container">
					<div class="cm_input_groups flex">
						<div class="cm_groups_title">
							手机号
						</div>
						<input class="f1 cm_groups_input" v-model.number="mobile" type="number" placeholder="请输入您的手机号码" value="" />
					</div>
					<div class=" flex">
						<div class="cm_input_groups flex">
							<div class="cm_groups_title">
								验证码
							</div>
							<input class="f1 cm_groups_input" v-model="validate" type="number" placeholder="验证码" value="" />
						</div>
						<div class="yzm cm_btn_half" @tap="_getYZM">
							{{enables?ctime:'获取验证码'}}
						</div>
					</div>
					<div class="cm_input_groups flex mui-input-row">
						<div class="cm_groups_title">
							密码
						</div>
						<input class="f1 cm_groups_input" :type="toggleType?'password':'text'" v-model="password" placeholder="请输入您的密码" value="" />
						<i class="iconfont icon-kanguo fs16" :class="{cor_y:toggleType?true:false}" @tap="_toggleType"></i>
					</div>
					<div class="cm_input_groups flex mui-input-row">
						<div class="cm_groups_title">
							确认密码
						</div>
						<input class="f1 cm_groups_input" :type="toggleType?'password':'text'" v-model="repassword" placeholder="请输入您的密码" value="" />
						<i class="iconfont icon-kanguo fs16" :class="{cor_y:toggleType?true:false}" @tap="_toggleType"></i>
					</div>

				</div>
				<div class="btns">
					<div class="cm_btn" @tap="_login">
						修改密码
					</div>
				</div>
				<img src="images/logo2.png" alt="" class="logo_bg" />

			</div>
		</div>
		<script src="js/mui.min.js"></script>
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/vue.js"></script>
		<script src="js/aes.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">
			 

			mui.init({
				swipeBack: false
			});
			mui.plusReady(function() {
				var APP = new Vue({
					el: '#app',
					data: {

						mobile: '',
						/* 电话 */
						validate: '',
						/* 验证码 */
						password: '',
						repassword: '',
						toggleType: true,
						enables: false,
						time: 90
					},
					computed: {
						ctime: function ctime() {
							return '(' + this.time + 's)';
						}
					},
					created: function created() {
						//							app.initHeader();
					},
					mounted: function mounted() {
						this.opId = plus.storage.getItem('opId');
						this.pic_head = plus.storage.getItem('pic_head');
						this.petname = plus.storage.getItem('petname');
						plus.nativeUI.closeWaiting();
						mui.currentWebview.show('pop-in', 300, function() {}, {});

						if(mui.os.android) {
							var originalHeight = document.documentElement.clientHeight || document.body.clientHeight;

							window.onresize = function() {

								//软键盘弹起与隐藏  都会引起窗口的高度发生变化
								var resizeHeight = document.documentElement.clientHeight || document.body.clientHeight;

								if(resizeHeight * 1 < originalHeight * 1) {
									//resizeHeight<originalHeight证明窗口被挤压了

									plus.webview.currentWebview().setStyle({
										height: originalHeight
									});
								}
							};
						}
					},

					methods: {
						/*修改密码*/
						_login: function _login() {
							if(!this.mobile) {
								plus.nativeUI.alert("请输入手机号", function() {
									return false;
								}, '马嘿嘿提醒您');
								return;
							}
							if(!app.checkPhone(this.mobile)) {
								plus.nativeUI.alert("手机号码不正确", function() {
									return false;
								}, '马嘿嘿提醒您');
								return;
							}
							if(!this.validate) {
								plus.nativeUI.alert("请输入验证码", function() {
									return false;
								}, '马嘿嘿提醒您');
								return;
							}
							if(!this.password) {
								plus.nativeUI.alert("请输入密码", function() {
									return false;
								}, '马嘿嘿提醒您');
								return;
							}
							if(this.repassword != this.password) {
								plus.nativeUI.alert("两次输入的密码不相同，请检查", function() {
									return false;
								}, '马嘿嘿提醒您');
								return;
							}
							if(!this.enables) {
								plus.nativeUI.alert("超过时限,请重新获取验证码", function() {
									return false;
								}, '马嘿嘿提醒您');
								return;
							}
							plus.nativeUI.showWaiting();
							/*调用找回密码接口*/

							var data = {
								username: this.mobile,
								newPassword: this._Encrypt(this.password),
								vilidate: this.validate,
								type: 2
								//								console.log(JSON.stringify(data))
							};
							mui.ajax(app.baseUrl + '/api/Authorize/Retrieve', {
								data: data,
								// dataType:'json',//服务器返回json格式数据
								type: 'post', //HTTP请求类型
								timeout: 10000, //超时时间设置为10秒；
								headers: {
									'Content-Type': 'application/x-www-form-urlencoded',
									'Authorization': app.mark + plus.storage.getItem('token')
								},
								success: function success(result) {
									if(result.Success) {
										mui.later(function() {
											plus.nativeUI.closeWaiting();
											plus.nativeUI.toast('修改成功');
											mui.back();
										}, 1000);
									} else {
										/*验证失败*/
										plus.nativeUI.closeWaiting();
										plus.nativeUI.toast(result.Msg);
									}
								},
								error: function error(xhr, type, errorThrown) {
									//异常处理；
									console.log(type);
								}
							});
						},

						/* 获取验证码 */
						_getYZM: function _getYZM() {
							var _this = this;

							if(this.enables) return;
							// alert(app.checkPhone(this.mobile))
							if(!this.mobile || !app.checkPhone(this.mobile)) {
								plus.nativeUI.alert("手机号码不正确", function() {
									return false;
								}, '马嘿嘿提醒您');
								return;
							}

							var waiting = plus.nativeUI.showWaiting();
							app.getValidate(this.mobile, 3, function(status, Msg) {
								waiting.close();
								if(status) {
									/*开始倒计时*/
									_this._timeMove();
									plus.nativeUI.toast("发送成功");
								} else {
									plus.nativeUI.toast(Msg);
								}
							});
						},

						/*倒计时*/
						_timeMove: function _timeMove() {
							var _this2 = this;

							this.enables = true;
							var time = setInterval(function() {
								_this2.time -= 1;
								if(_this2.time == 0) {
									_this2.enables = false;
									clearInterval(time);
									_this2.time = 90;
								}
							}, 1000);
						},

						//							切换密码框
						_toggleType: function _toggleType() {
							this.toggleType = !this.toggleType;
						},

						//							加密
						_Encrypt: function _Encrypt(str) {
							str = str + '|.|' + new Date().getTime();
							var key = CryptoJS.enc.Utf8.parse(app._KEY);
							var iv = CryptoJS.enc.Utf8.parse(app._IV);
							var encrypted = '';
							var srcs = CryptoJS.enc.Utf8.parse(str);
							encrypted = CryptoJS.AES.encrypt(srcs, key, {
								iv: iv,
								mode: CryptoJS.mode.CBC,
								padding: CryptoJS.pad.Pkcs7
							});
							return encrypted.ciphertext.toString();
						}
					}

				});
			});
		</script>
	</body>

</html>