<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>修改绑定手机号</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../css/common.css" />
		<link rel="stylesheet" href="../../../css/iconfont.css" />
		<style>
			.yzm{
				width: 150px;
				margin-top: 15px;
			}
			.btns {
			    margin-top: 15px;
			}
			
		</style>
	</head>

	<body style="background: #fff;">
		<div id="app">
		
			<div class="container " id = "content">
				<div class="container">
					<div class="cm_input_groups flex">
						<div class="cm_groups_title">
							手机号
						</div>	
						<input class="f1 cm_groups_input" v-model.number="mobile" type="number" disabled="true" placeholder="请输入您的手机号码" value="" />
					</div>
					<div class=" flex">
						<div class="cm_input_groups flex">
							<div class="cm_groups_title">
								验证码
							</div>	
							<input class="f1 cm_groups_input" v-model="validate" type="text" placeholder="验证码"  />
						</div>
						<div class="yzm cm_btn_half" @tap="_getYZM">
							{{enables?ctime:'获取验证码'}}	
						</div>
					</div>
					<div class="cm_input_groups flex mui-input-row">
						<div class="cm_groups_title">
							新手机号码
						</div>	
						<input class="f1 cm_groups_input"  type="text"  v-model="newMobile" placeholder="请输入您的新手机号码" value="" />
						
					</div>			
							
				</div>
				<div class="btns">
					<div class="cm_btn" @tap = "_updated">
						修改手机号
					</div>			
				</div>

			</div>
		</div>
		<script src="../../../js/mui.min.js"></script>
		<script src="../../../js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../../js/vue.js"></script>
		<script src="../../../js/aes.js" type="text/javascript" charset="utf-8"></script>

		<script type="text/javascript">
			mui.init({
				swipeBack: true
			})
			mui.plusReady(function(){
				var APP = new Vue({
						el: '#app',
						data: {
						
							mobile:'',/* 电话 */
							validate:'', /* 验证码 */
							newMobile:'',

							toggleType:true,
							enables:false,
							time:90
						},
						computed:{
							ctime(){
								return '('+this.time+'s)'
							}
						},
						created() {},
						mounted(){	
							var self = plus.webview.currentWebview()
							this.mobile = self.phone
//							alert(this.mobile)
						},
						methods: {
							/*修改手机号*/
							_updated(){							
								if(!this.validate ){
									plus.nativeUI.alert("请输入验证码", function(){
										return false; 
									},'马嘿嘿提醒您');
									return;
								}
								if(!this.newMobile ){
									plus.nativeUI.alert("请输入新手机号", function(){
										return false; 
									},'马嘿嘿提醒您');
									return;
								}
								if(!app.checkPhone(this.newMobile)){
									plus.nativeUI.alert("手机号码不正确", function(){
										return false; 
									},'马嘿嘿提醒您');
									return;
								}
								if(!this.enables ){
									plus.nativeUI.alert("超过时限,请重新获取验证码", function(){
										return false; 
									},'马嘿嘿提醒您');
									return;
								}
								plus.nativeUI.showWaiting();
								/*调用找回密码接口*/
								
								var data ={
									newMobile:this.newMobile,
									vilidate:this.validate,
									type:2,						
								}
//								console.log(JSON.stringify(data))
								mui.ajax(app.baseUrl + '/api/Authorize/ChangeMobile', {
									data: data,
									// dataType:'json',//服务器返回json格式数据
									type: 'post', //HTTP请求类型
									timeout: 10000, //超时时间设置为10秒；
									headers: {
										'Content-Type': 'application/x-www-form-urlencoded',
										'Authorization': app.mark + plus.storage.getItem('token')
									},
									success: function(result) {
										if(result.Success) {
//											mui.later(()=>{
												plus.nativeUI.closeWaiting();
												plus.nativeUI.toast('修改成功')
												plus.webview.getWebviewById('personSet').evalJS('refresh()')  												
												mui.back()
//											},1000)
										} else {
											/*验证失败*/
											plus.nativeUI.closeWaiting();
											plus.nativeUI.toast(result.Msg)
										}
									},
									error: function(xhr, type, errorThrown) {
										//异常处理；
										console.log(type);
									}
								});
								
							},
							/* 获取验证码 */
							_getYZM(){	
								if(this.enables)return;
							
								plus.nativeUI.showWaiting();
								app.getValidate(this.mobile,3,(status,Msg)=>{
									plus.nativeUI.closeWaiting()
									if(status){
										/*开始倒计时*/
										this._timeMove()
										plus.nativeUI.toast("发送成功");
									}else{
										plus.nativeUI.toast(Msg);
									}
								})
							},
							/*倒计时*/
							_timeMove(){
								this.enables = true;
								var time=setInterval(()=>{
									this.time -=1;
									if(this.time==0){
										this.enables = false;
										clearInterval(time)
										this.time = 90
									}
								},1000)
							},
//							加密
							_Encrypt(str) {
								str = str + '|.|' + new Date().getTime()
								var key = CryptoJS.enc.Utf8.parse(app._KEY);
								var iv = CryptoJS.enc.Utf8.parse(app._IV);
								var encrypted = '';
								var srcs = CryptoJS.enc.Utf8.parse(str);
								encrypted = CryptoJS.AES.encrypt(srcs, key, {
									iv: iv,
									mode: CryptoJS.mode.CBC,
									padding: CryptoJS.pad.Pkcs7
								});
								return encrypted.ciphertext.toString();
							},
						
						}

					})
			})
		</script>
	</body>

</html>