<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>小草社区</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/iconfont.css" />
		<style>
			.bg {
				width: 100%;
				height: 244px;
				background: linear-gradient(#303030, #000000);
			}
			
			.invitationsBox {
				box-sizing: border-box;
				/*background: green;*/
				margin-top: -140px;
				padding: 0 10px;
			}
			
			.invitation_title {
				padding-bottom: 10px;
				border-bottom: 1px dashed #d3d3d3;
			}
			
			.invitation_content h3 {
				margin: 10px auto;
			}
			
			.invitationAvator {
				width: 40px;
				height:40px;
				border-radius: 4px;
				margin-right: 15px;
			}
			
			.invitation_footer>p {
				line-height: 22px;
			}
			
			.labels {
				margin-left: 10px;
				font-weight: 400;
				font-size: 14px;
				line-height: 24px;
				color: #c4c4c4;
				vertical-align: middle;
			}
			.labels i{
				font-size: 14px;
				color: #c4c4c4;
				
			}
			.invitation_footer .labels.active,
			.invitation_footer .labels.active i {
				color: #ccaa42;
			}
			
			.tags {
				margin-right: 10px;
			}
			/*帖子 视频*/
			
			.videoBox {
				padding: 0;
				width: 100%;
				min-height: 100px;
				/*background: #eee;*/
				box-sizing: border-box;
				border: 1px dotted #d3d3d3;
			}
			/*图片帖子*/
			
			.picBox {
				/*background: red;*/
				justify-content: space-between;
			}
			
			.picBox .pics {
				box-sizing: border-box;
				padding: 5px;
			}
			
			.picBox .pics img {
				width: 100%;
			}
			/*文字帖子*/
			
			.textBox {}
			
			.textPre {
				width: 120px;
				height: auto;
				margin-right: 10px;
			}
			
			.textPre>img {
				width: 100%;
			}
			/*.mask{
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 50;
				background: rgba(0,0,0,.8);
			}*/
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav mui-bar-transparent" style="background-color: rgba(21, 21, 21, 0)" data-top='0' data-offset='250' data-duration='16' id="header">
			<h1 class="mui-title">小草社区</h1>
		</header>
		<div id="app" ref='fresh'>
			<div class="clearfix" style="position: relative;">

				<!--刷新提示框-->
				<div class="refresh">
					<p class="t_c cor_y  refresh_txt">有种你放开我</p>
				</div>
				<!--内容部分-->
				<div style="position: relative;">
					<div class="bg"></div>
					<ul class="invitationsBox ">
						<li class="panel2 invitation" v-for="item  in list">
							<div v-if="item.type==0" >
								<div class="flex invitation_title">
									<img src="../../images/mhh_avator.png" class="invitationAvator" alt="" />
									<div class="f1">
										<h3 class="panel2_title">马嘿嘿官方助手
											<div class="fr labels" @tap.stop="_report()" >
												<i class="iconfont icon-xinxi cor_g "></i> 举报 
											</div>
										</h3>
										<p class="time">{{item.time}}</p>
									</div>
								</div>
								<div class="invitation_content" @tap="_toDetail(item)">

									<div class="textBox flex">
										<div class="textPre">
											<img :src="item.lstUrl[0]" alt="" />
										</div>
										<div class="f1">
											<h3>{{item.title}}</h3>
											<ul class="clearfix ">
												<li class="fl cor_g   tags " v-for="labels in item.infoLable">
													<i class="iconfont icon-shengqian"></i> {{labels}}
												</li>
											</ul>
										</div>
									</div>

								</div>
								<div class="invitation_footer flex">
									<p class="f1">{{item.views}}已看</p>
									<div class="f1">
										<!--<div class="fr labels " :class="{active:item.isLike}">
											<i class="iconfont icon-shoucang cor_g"></i> 收藏{{item.likes}}
										</div>-->
										<div class="fr labels" :class="{active:item.isGood}">
											<i class="iconfont icon-zan cor_g"></i> 点赞{{item.goods}}
										</div>
									</div>
								</div>
							</div>
							<!--图片贴-->
							<div v-else-if="item.type==1" >
								<div class="flex invitation_title">
									<img src="../../images/mhh_avator.png" class="invitationAvator" alt="" />
									<div class="f1">
										<h3 class="panel2_title">马嘿嘿官方助手<div class="fr labels" @tap.stop="_report()" >
												<i class="iconfont icon-xinxi cor_g "></i> 举报
											</div></h3>
										<p class="time">{{item.time}}</p>
									</div>
								</div>
								<div class="invitation_content" @tap="_toDetail(item)">
									<h3>{{item.title}}</h3>
									<div class="picBox flex">
										<div class="f1 pics">
											<img :src="item.lstUrl[0]" alt="" />
										</div>
										<div class="f1 pics">
											<img :src="item.lstUrl[1]" alt="" />
										</div>
										<div class="f1 pics">
											<img :src="item.lstUrl[2]" alt="" />
										</div>
									</div>
									<ul class="clearfix ">
										<li class="fl cor_g   tags " v-for="labels in item.infoLable">
											<i class="iconfont icon-shengqian"></i> {{labels}}
										</li>
									</ul>
								</div>
								<div class="invitation_footer flex">
									<p class="f1">{{item.views}}已看</p>
									<div class="f1">
										<!--<div class="fr labels " :class="{active:item.isLike}">
											<i class="iconfont icon-shoucang cor_g"></i> 收藏{{item.likes}}
										</div>-->
										<div class="fr labels" :class="{active:item.isGood}">
											<i class="iconfont icon-zan cor_g"></i> 点赞{{item.goods}}
										</div>
	
									</div>
								</div>
							</div>
							<!--视频-->
							<div v-else>
								<div class="flex invitation_title" @tap="_toDetail(item)">
									<img src="../../images/mhh_avator.png" class="invitationAvator" alt="" />
									<div class="f1">
										<h3 class="panel2_title ">马嘿嘿官方助手<div class="fr labels"  @tap.stop="_report()" >
												<i class="iconfont icon-xinxi cor_g "></i> 举报
											</div></h3>
										<p class="time">{{item.time}}</p>
									</div>
								</div>
								<div class="invitation_content">
									<h3>{{item.title}}</h3>
									<div class="videoBox">
										<!--<iframe height='auto' width='100%' src='http://player.youku.com/embed/XMzc3NDA3NjU2MA==' frameborder=0  ></iframe>-->
										<video :src="item.lstUrl[0]" controls="controls" style="width: 100%;height: 100%;" poster="../../images/videoDefault.png"></video>
									</div>
									<ul class="clearfix ">
										<li class="fl cor_g   tags " v-for="labels in item.infoLable">
											<i class="iconfont icon-shengqian"></i> {{labels}}
										</li>
									</ul>
								</div>
								<div class="invitation_footer flex">
									<p class="f1">{{item.views}}已看</p>
									<div class="f1">
										<!--<div class="fr labels" :class="{active:item.isLike}">
												<i class="iconfont icon-shoucang cor_g"></i> 收藏{{item.likes}}
											</div>-->
										<div class="fr labels" :class="{active:item.isGood}">
											<i class="iconfont icon-zan cor_g"></i> 点赞{{item.goods}}
										</div>

									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>

				<!--模态-->
			</div>
		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/app.js"></script>
		<script src="../../js/vue.js"></script>
		<script src="../../js/aes.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			var APP;
			mui.plusReady(function() {
				var self = plus.webview.currentWebview()
				app.WXinit(CryptoJS)
				//自定义监听图标点击事件
				APP = new Vue({
					el: '#app',
					data: {
						scroll: '',
						isLoading: false,
						list: [],
						index: 1
					},
					created: function() {
						app.initHeader();

					},
					mounted: function() {
						var _this = this
						mui.init({
							swipeBack: false,
							pullRefresh: {
								container: "#app", //待刷新区域标识，querySelector能定位的css选择器均可，比如：id、.class等
								up: {
									height: 50, //可选.默认50.触发上拉加载拖动距离
									auto: true, //可选,默认false.自动上拉加载一次
									contentrefresh: "正在加载...", //可选，正在加载状态时，上拉加载控件上显示的标题内容
									contentnomore: '没有更多数据了', //可选，请求完毕若没有更多数据时显示的提醒内容；
									callback: function() {
//								alert(1)										
										_this._getData(_this.index, function(b) {
											if(b) {
												
											}
											mui('#app').pullRefresh().endPullupToRefresh(b);
											mui('#app').pullRefresh().endPulldown(b);
										})
									} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
								},
								down: {
									style: 'circle', //必选，下拉刷新样式，目前支持原生5+ ‘circle’ 样式
									color: '#2BD009', //可选，默认“#2BD009” 下拉刷新控件颜色
									height: '50px', //可选,默认50px.下拉刷新控件的高度,
									range: '100px', //可选 默认100px,控件可下拉拖拽的范围
									offset: '0px', //可选 默认0px,下拉刷新控件的起始位置
									auto: false, //可选,默认false.首次加载自动上拉刷新一次
									callback: function() {

										_this.list = [];
										_this.index = 1;
										_this._getData(_this.index, function(b) {
											mui('#app').pullRefresh().endPulldown(b);
											mui('#app').pullRefresh().endPullupToRefresh();
										})

									} //必选，刷新函数，根据具体业务来编写，比如通过ajax从服务器获取新数据；
								}
							}
						});
					},
					methods: {
//						举报
						_report(){
							plus.nativeUI.confirm('由于该资讯涉及非法内容,您将向马嘿嘿平台举报该条资讯',(e)=>{
								if(e.index==0){
									plus.nativeUI.showWaiting();
									mui.ajax(app.baseUrl + '/api/Recommend/GetRecommendTypes', {
										type: 'get', //HTTP请求类型
										timeout: 10000, //超时时间设置为10秒；
										headers: {
											'Content-Type': 'application/x-www-form-urlencoded'
										},
										success: function(result) {
											mui.later(()=>{
												plus.nativeUI.closeWaiting()
												if(result.Success) {
													plus.nativeUI.toast('您的检举信息已经提交')
												} else {
													/*验证失败*/
												}
											},1000)
											
										},
										error: function(xhr, type, errorThrown) {

										}
									})
								}
							},'马嘿嘿提醒您')
						},
						/*获取数据*/
						_getData(index, callback) {
							//							alert(0)
							var _this = this
							var data = {
								pageIndex: index,
								pageSize:5
							}

							app.ajax(app.baseUrl + '/api/Info/GetBusiMhhCmsList', {
								data: data,
								// dataType:'json',//服务器返回json格式数据
								type: 'post', //HTTP请求类型								
								success: function(result) {
									//plus.nativeUI.closeWaiting()
									if(result.Success) {
										var l = _this.list.length;
										_this.list = _this.list.concat(result.Data.ListInfo);

										if(_this.list.length == l) {
											if(callback) callback(true);
											return
										}
										_this.index += 1;
										if(callback) callback(false);
									} else {
										/*验证失败*/
										if(callback) callback(false);
									}
								}
							});
						},
						/*跳转至帖子的详情页*/
						_toDetail(item) {
							let desturl = './community_detail.html'
							let destid = 'community_detail'
							let exa = {
								detail: item
							}
							let option = {
								showTitle:true
							}
							app.navigater(desturl,destid,exa,option)
						
						}
					}
				})
			});
		</script>
	</body>

</html>